In [7]:
print("enter your correct age:")
age=int(input())
if age<18:
    print("your are not eligible")
else:
    print("eligible")

enter your correct age:
2
your are not eligible

In [ ]:
def num(a):
print(+ haqquani)

In [1]:
print("your name")

your name

In [3]:
def num(a):
 print("name" + a)

num("haqqani")
num("fareed")
num("adeel")

namehaqqani
namefareed
nameadeel

In [4]:
def num(a):
 print("name" + a)

num("haqqani")
num("fareed")
num("adeel")

namehaqqani
namefareed
nameadeel

In [5]:
def add(a,b):
 print(a+b)
  
add(2,5)

7

In [3]:
print("enter number")
a=int(input())
b=int(input())
print(a+b)

enter number
7
8
15

In [ ]:
d=int(input())
e=int(input())

def addition(a,b):
    c=a+b
    print(c)
    return c
def sqr(c):
    y=c*c
    print(y)

c=addition(d,e)
g=sqr(c)

In [1]:
a=int(input())
b=int(input())
def addition(a,b):
    c=a+b
    print(c)
    return c
def square(h):
    h=c*2
    print(h)
z=addition(a,b)
v=square(c)

KeyboardInterrupt: Interrupted by user

In [2]:
z=int(input())
def table(a):
    if a%2==0:
        print("it's even no")
    else:
        print("it's odd no")
    
table(z)

8
it's even no

In [46]:
a=int(input("enter no-"))
def table(a):
    for i in range(1,11):
        c=i*a
        print(a,"x",i,"=",c)
table(a)

enter no-9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [52]:
d={"name":"haqqani",
  "dob":"21/12/1198",
  "address":"maulanagar"
}
a=input("enter details-")
print(d[a])

enter details-address
maulanagar

In [2]:
password = input('Enter password ')

if password == "PYnative@#29":
    print("Correct password")
else:
    print("Incorrect Password")

Enter password PYnative@#29
Correct password

In [7]:
def user_check(choice):
    if choice == 1:
        print("Admin")
    elif choice == 2:
        print("Editor")
    elif choice == 3:
        print("Guest")
    else:
        print("Wrong entry")

user_check(int(input()))

4
Wrong entry

In [4]:
num1 = int(input('Enter first number '))
num2 = int(input('Enter second number '))

if num1 >= num2:
    if num1 == num2:
        print(num1, 'and', num2, 'are equal')
    else:
        print(num1, 'is greater than', num2)
else:
    print(num1, 'is smaller than', num2)

Enter first number 7
Enter second number 5
7 is greater than 5

In [6]:
i=0
for c in range(1,11):
         print(c)

1
2
3
4
5
6
7
8
9
10

In [16]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [4]:
def list(newlist):
    newlist[0],newlist[-1]=newlist[-1],newlist[-0]
    return newlist
newlist=[12,13,14,15,16]
print(list(newlist))

[16, 13, 14, 15, 12]

In [7]:
x=[16, 13, 14, 15,12]
x[0],x[-1]=x[-1],x[0]
print(x)

[12, 13, 14, 15, 16]

In [1]:
# s: store sum of all numbers
s = 0
n = int(input("Enter number "))
# run loop n times
# stop: n+1 (because range never include stop number in result)
for i in range(1, n + 1, 1):
    print(i)
    # add current number to sum variable
    s=i+1
print("\n")
print("Sum is: ", s)

Enter number 2
1
2


Sum is:  3

In [11]:
a=int(input())
while a<=10:
    c=a*3
    print(c)
    a=a+1

3
9
12
15
18
21
24
27
30

In [4]:
a=[12, 75, 150, 180, 145, 525, 50]
for i in a: 
    if i%5==0:
         print(i)  
    elif i>150:
        continue
    elif i>500:
        break

75
150
180
145
525
50

In [54]:
a=[12, 75, 150, 180, 145, 525, 50]
for i in a: 
    if  i>500:
        break  
    elif i>150: 
        continue
    elif i%5==0:
        print(i)

75
150
145

In [23]:
a=[12, 75, 150, 180, 145, 525, 50]
b=reversed(a)
print(a)
print(tuple(b))

[12, 75, 150, 180, 145, 525, 50]
(50, 525, 145, 180, 150, 75, 12)

In [108]:

for c in range(-10,0):
         print(c)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [104]:
for num in range(25,50):
    prime = True
    for i in range(25,num):
        if (num%i==0):
            prime = False
    if prime:
        print (num)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [1]:
start =25
end=50
for i in range(25,50):
    prime=True
    for k in range(25,50):
        if (i%k==0):
            prime =False
            
    if prime:
        print(i)

In [11]:
for i in range(1,5):
    for j in range(1,3):
        print(j*i)

1
2
2
4
3
6
4
8

In [19]:
for i in range(1,6):
    for j in range(1,4):
        print("*",end='')
    print()

***
***
***
***
***

In [50]:
a=list((1,2,3,4,5))
  
print(a)

[1, 2, 3, 4, 5]

In [27]:
def add(num1,num2):
    multiplication=num1*num2
    if multiplication<= 1000:
        
        return multiplication
    else:
        
        return num1+num2
print(add(50,30))
print(add(10,40))

80
400

In [42]:
a=int(input())
b=int(input())
c=a*b
if c <=1000:
    print(c)
else:
    print(a+b)

23
555
578

In [64]:
privious=0
for i in range(1,11):
    add=privious+i
   
    print("value of i-",i,"vlue of p-",privious,"=",add)
    privious=i

value of i- 1 vlue of p- 0 = 1
value of i- 2 vlue of p- 1 = 3
value of i- 3 vlue of p- 2 = 5
value of i- 4 vlue of p- 3 = 7
value of i- 5 vlue of p- 4 = 9
value of i- 6 vlue of p- 5 = 11
value of i- 7 vlue of p- 6 = 13
value of i- 8 vlue of p- 7 = 15
value of i- 9 vlue of p- 8 = 17
value of i- 10 vlue of p- 9 = 19

In [85]:
str=input()
b=len(str)
for i in range(0,b-1,2):
    print(str[i])

pynative
p
n
t
v

In [87]:
def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

Removing characters from a string
Original string: pynative
tive
Original string: pynative
native

In [93]:
number=[10, 20, 33, 46, 55]
for d in number:
    if d%5==0:
        print(d)

10
20
55

In [8]:
for i in range(1,10):
    for j in range(i):
        print(i,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [13]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end="  ")
    print()

1  2  3  4  5  6  7  8  9  10
2  4  6  8  10  12  14  16  18  20
3  6  9  12  15  18  21  24  27  30
4  8  12  16  20  24  28  32  36  40
5  10  15  20  25  30  35  40  45  50
6  12  18  24  30  36  42  48  54  60
7  14  21  28  35  42  49  56  63  70
8  16  24  32  40  48  56  64  72  80
9  18  27  36  45  54  63  72  81  90
10  20  30  40  50  60  70  80  90  100

In [5]:
for i in range(6,0,-1):
    for j in range(i):
        print("*",end="  ")
    print()

*  *  *  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [42]:
for i in range(-5,-1):
    for j in range(i+1):
        print("*",end="  ")
    print()

In [14]:
def number(equal):
    a=equal[0]
    b=equal[-1]                  
    if a==b:      
        return True
    else:
        return False
first=[10,20,90,45,12,10]
print(number(first))
second=[12,23,45,67,78,90]
print(number(second))

True
False

In [18]:
def remove(word,n):
    x=word[n:]
    return x
print(remove("haqqani",3))
print(remove("haqqani",4))

qani
ani

In [2]:
income = 110000
tax_payable = 0
print("Given income", income)

if income <= 50000:
    tax_payable = 0
elif income <=99999:
   
 
    # 20% tax
    X=income-50000
    tax_payable = x*10/100
else:
    tax_payable1=49999*10/100
    print(tax_payable1)

    # remaining 30%tax
    tax_payable2 = (income -99999) * 20 / 100
    print( tax_payable2)
    
    tax_payable =tax_payable1+tax_payable2
print("Total tax to pay is", tax_payable)

Given income 110000
4999.9
2000.2
Total tax to pay is 7000.099999999999

In [8]:
income =int(input())
tax_payable = 0
print("Total income", income)

if income <= 50000:
    tax_payable = 0

elif income <=9999:
   
 
    # 20% tax
    X=income-50000
    tax_payable = x*20/100
else:
    tax_payable1=50000*20/100
    print("tax on after 50k-",tax_payable1)

    # remaining 30%tax
    tax_payable2 = (income -100000) * 10 / 100
    print("tax on after 10k-", tax_payable2)
    
    tax_payable =tax_payable1+tax_payable2
print("Total tax to pay is", tax_payable)

130000
Total income 130000
tax on after 50k- 10000.0
tax on after 10k- 3000.0
Total tax to pay is 13000.0

In [39]:
password=input()
while True:
    conform=input()
    if password==conform:
        
        print("successfull")
    else:
        print("enter correctpassword")

123
dvhh
enter correctpassword

In [6]:
a=int(input())
b=int(input())
c=input("type: +, ,- ,% : ") 
if c=="+": print(a+b) 
elif c=="-": 
    print(a+b)
elif c=="-": 
    print(a-b) 
elif c=="/":
    print(a/b)

2
2
type: +, ,- ,% : -
4

In [ ]:
a=input()
if a==(a.upper()):
    print("it is Uppercase")
elif a==(a.lower()):
    print("it is lowercase")
    
elif a==(a.lower())+(a.upper()):
    print("It is lower upper  ")
    
else:
    print("its upper lower")

In [17]:
k=input()
if k==(k.upper()):
    print("upper case")
else:
    print("lower case")

s
lower case

In [10]:
class student:
#     constructor
    def __init__(self,name,age,std):
        # instance variable
        self.name=name
        self.age=age
        self.std=std  
#         instance method
    def studentdetails(self):
        print(self.name,self.age,self.std)
        
#create frst object
object=student("haqqani",22,12)

#call instance method
object.studentdetails()

# creat second object
object2=student("haris",20,10)

#call instance method
object2.studentdetails()

haqqani 22 12
haris 20 10

In [22]:
class student:
    school="DAV"
    def __init__(self,name,age):
        
        self.name=name
        self.age=age
    @classmethod
    
    def change(cls,name):
        student.school=name
    def show(self):
        print(self.name,self.age,student.school)
p=student("haq",22)
p.show()
student.change("dilkash")
p.show()

haq 22 DAV
haq 22 dilkash

In [27]:
class student:
     #[constructor: initialize instance variable]
    def __init__(self,name, age):
        #instance variable
        self.name=name
        self.age=age
        
#creat frst object    
obj=student("ahmad",24)
#access instance variable
print(obj.name,obj.age)

#creat 2nd object  
obj2=student("ali",25)
#access instance variable
print(obj2.name,obj2.age)

ahmad 24
ali 25

In [34]:
class employee:
    name="ali"
    #constructor
    def __init__(self,age,salery,position):
        self.age=age
        self.salery=salery
        self.position=position
    @classmethod
    def change(cls,newname):
        employee.name=newname
    #instance methon
    def show(self):
        print(self.age,self.salery,self.position,employee.name,self.static(self.salery))
        
    #staticmethod
    @staticmethod
    def static(salery):
        if salery>=20000:
            pay="able to bonus"
        else:
            p="not able"
        return pay
obj=employee(12,30000,"hr")
obj.show()
#change
employee.change("asgar")
obj.show()

12 30000 hr ali able to bonus
12 30000 hr asgar able to bonus

In [39]:
class private:
    #construstor
    def __init__(self,name,salary):
        #public member
        self.name=name
        
        #private member
        self.__salary=salary
# creat object
obj=private('haqqani',1000)
print(obj.name)
#direct access to private member using name mangling 
print(obj._private__salary)

haqqani
1000

In [4]:
class student:
    def __init__(self,name,age):
        self.name=name
        #private member
        self.__age=age
        
    #getter method
    def get(self):
        return self.__age
    
    #setter method
    def set(self,age):
        self.__age=age
        
#creat object
obj=student("haris",22)
print(obj.name, obj.get())

# changing age using setter
obj.set(16)
print(obj.name, obj.get())

haris 22
haris 16

In [12]:
class shope:
    def __init__(self,shope1,shope2):
        self.shope1=shope1
        self.__shope2=shope2
    #get
    def get(self):
        return self.__shope2
    #set
    def set(self,shope2):
            
        self.__shope2=shope2
obj=shope("mobile","laptop")
print(obj.shope1,obj.get())

#change
obj.set("computers")
print(obj.shope1,obj.get())

mobile laptop
mobile computers

In [30]:
class student:
    def __init__(self,name ,age,roll_no):
        self.name=name
        #private
        self.__age=age
        self.__roll_no=roll_no
        
    #method
    def show(self):
        print("name:",self.name,"Roll-no:",self.__roll_no)
    
    #getter method
    def get(self):
        return self.__roll_no
    #setter methon
    def set(self,roll):
        #condition
        if roll >50:
        
            print("enter encorrect no Roll no")
        else:
            self.__roll_no=roll
   #creat object 
obj=student("haqqani",22,30)
obj.show()
#after change
obj.set(70)
obj.set(35)
obj.show()

name: haqqani Roll-no: 30
enter encorrect no Roll no
name: haqqani Roll-no: 35

In [4]:
#single inheritance: one child class inherit one parent class 

#parent class
class school:
    def school_info(self,name,address):
        print("school name:",name,"school address",address)
#child class
class student(school):
    def student_info(self,s_name,s_class):
        print('student name:',s_name,"s_class",s_class)
#creat object
obj=student()
#access data
obj.school_info("dav","pupri")
obj.student_info("ali",10)

school name: dav school address pupri
student name: ali s_class 10

In [9]:
#multiple inheritance: one child class inherit multiple parent class

#parent class1

class person:
    def person_info(self,name,age):
        print("person name:",name,"person age:",age)
#parent class2

class company:
    def company_info(self,c_name,c_address):
        print("company name:",c_name,"company address:",c_address)

#child class
class employee(person,company):
    def employee_info(self,e_name,e_post):
        print("employee name:",e_name,"e_post",e_post)
        
#creat object

obj=employee()
#access data
obj.person_info("ali",23)
obj.company_info("Des","MAULANAGAR")
obj.employee_info("haqqai","tl")

person name: ali person age: 23
company name: Des company address: MAULANAGAR
employee name: haqqai e_post tl

In [2]:
#parent class
class school:
    #constructor
    def __init__(self,name,address):
        self.name=name
        self.address=address
        print("school name:",self.name,"school address:",self.address)
#child class
class student(school):
    def student_info(self,s_name,s_class):
        
        print('student name:',s_name,"s_class",s_class)
#creat object
obj=student("dav","maulangar")

#access dat
obj.student_info("ali",110)

school name: dav school address: maulangar
student name: ali s_class 110

In [5]:
#multilevel inheritance: chain of the class

#parent class
class school:
    def school_info(self,name,add):
        print("school name:",name,"school add:",add)
        
#child of school class
class teacher(school):
    def teacher_info(self,name,subject):
        print("teacher name:",name,"subject:",subject)
        
#child of teacher class
class student(teacher):
    def student_info(self,name,std):
        print("student name:","class",std)
#creat object
obj=student()
obj.school_info('DEIS',"MAULANAGAR")
obj.teacher_info("ALI","SCIENCE")
obj.student_info("AHAMD","10")

school name: DEIS school add: MAULANAGAR
teacher name: ALI subject: SCIENCE
student name: class 10

In [15]:
#Heirarichal inheritance: one parent class multiple child class

#parent class
class vahicle:
    def vahicle_info(self, vahicle_type, reg_no ):
        print("vahicle type:",vahicle_type,"registration no:",reg_no)
        
#child class1
class car(vahicle):
    def car_info(self,brand,name):
        print("Brand name:",brand,"model name:",name)
        
#child class2
class bus(vahicle):
    def bus_info(self,brand,model):
        print("brand name:",brand,"bus model:",model)
        
#child class2
class bike(vahicle):
    def bike_info(self,brand,cc):
        print("bike brand:",brand,"bike cc:",cc)

#creat  object FOR CAR
obj=car()
obj.vahicle_info("4wheeler","MH 02 F 123422")
obj.car_info("AUDI","Q5")

#CREA OBJECT FOR BUS
obj2=bus()
obj2.vahicle_info("4wheelar","MH 03 D 1234")
obj2.bus_info("tata","polo")

 # CREAT OBJECT FOR BIKE
obj3=bike()
obj3.vahicle_info("2 wheelar","MH 03 V 56877Y")
obj3.bike_info("ktm","200cc")

vahicle type: 4wheeler registration no: MH 02 F 123422
Brand name: AUDI model name: Q5
vahicle type: 4wheelar registration no: MH 03 D 1234
brand name: tata bus model: polo
vahicle type: 2 wheelar registration no: MH 03 V 56877Y
bike brand: ktm bike cc: 200cc

In [80]:
#hybrid inheritance: When inheritance is consists of multiple types or a combination of different inheritance

#parent class
class school:
    def school_info(self):
        print('school name')
#child class
class teacher(school):
    def teacher_info(self):
        print('teacher name')
        
#child class2
class student(school):
    def student_info(self):
        print("student deatails")
        
#child class2 
class office(student,teacher,school):
    def office_info(self,name):
        print("all deatails:",name)

#creat obj
obj=office()
#ACCESS DATA
obj.office_info("haqani")
obj.student_info()
obj.teacher_info()
obj.school_info()

all deatails: haqani
student deatails
teacher name
school name

In [3]:
#uses of super

class Company:
    def company_name(self):
        return 'Google'

class Employee(Company):
    def info(self):
        # Calling the superclass method using super()function
        c_name = super().company_name()
        print("Jessa works at", c_name)
emp = Employee()
emp.info()

Jessa works at Google

In [67]:
  #uses of super()METHOD IN THE CONSTRUCTOR:
#1st parent 
class person:
   
    def __init__(self, name,age):
        self.name=name
        self.age=age
    
#child
class child(person):
    def __init__(self,name,age,school,std):
        super().__init__(name,age)
        self.school=school 
        self.std=std
        
        
class baby(child):
    def __init__(self,name,age,school,std,dob,year):
        super().__init__(name,age,school,std)
        
        self.dob=dob
        self.year=year
        
        
#method
    def dis(self):
        print("Name:",self.name,"age:",self.age)
        print("school name:",self.school,"class:",self.std)
        print("Date of birth:",self.dob,"complete:",self.year,)
        
#acees value:
obj=baby("haqqani",12,"dav",6,"21/1/98",8)
obj.dis()

Name: haqqani age: 12
school name: dav class: 6
Date of birth: 21/1/98 complete: 8

In [20]:
#libarary management system

class Library:
    def __init__(self,books_list):
        self.availableBooks=books_list
        
    def displayAvailableBooks(self):
        print("available Books in library:")
        for book in self.availableBooks:
            print(book)
    
    def lendBOOK(self,requestedBook):
        if requestedBook in self.availableBooks:
            print("yes you can take this Book")
        else:
            print("sorry, this book is note available")
            
            
class student:
    def requestBook(self):
        print("enter book name  u would like to take")
        self.book=input()
        return self.book
    
    def returnBook(self):
        print("enter book name you would like to return")
        self.book=input()
        return self.book

def main():
    L=Library(["physics","chemistry","Bioligy","english","urdu"])
    S=student()
    done=False
    while done==False: 
        print("""====LIBRARY MENU====
              1.show available books
              2.Request for book
              3.Return a book
              4.Exit
              """)
        choice=int(input("enter no"))
        
        if choice==1:
            
            L.displayAvailableBooks()
        elif choice==2:
            
            L.lendBOOK(S.requestBook())
        elif choice==3:
            L.addBOOK(S.returnBook())
        elif choice==4:
            sys.exit()

In [ ]:
#libarary management system

class Library:
    def __init__(self,list,name):
        self.B_list=list
        self.name=name
        self.lendDic={}
        
    def displayBooks(self):
        print ("following Books are available: {self.user}")
        for book in self.B_list:
            print(book)
            
    def lendBook(self,user,book):
        if book not in self.lendDic.keys():
            self.lendDic.update({book:user})
            print("lender book database has been updated,u can take book")
        else:
            print("some one has been taken his book")
    
    def addBook(self,book):
        self.B_list.append(book)
        print("book has been added in book list ")
        
        
    def returnBook(self,book):
        self.B_list.remove(book)
        
if __name__== '__main__':
    
    l=Library(['physics','chemitry','boilogy','english','urdu'],"haqqani")
    
    while(True):
        print("enter choice as per requirment")
        print("1.Diplay Books")
        print("2.Lend a books")
        print("3.Add  a Books")
        print("4.Return a books")
        user_choice=int(input())
        
        if user_choice==1:
            l.displayBooks()
            
        elif user_choice==2:
            book=input("enter name of the book you want to lend:")
            user=input("enter you name")
            l.lendBook(user,book)
            
        elif user_choice==3:
            book=input("enter name of the book you want to add")
            l.addbook(book)
        elif user_choice==4:
            book=input("enter name of the book you want to return")
            l.returnBook(book)
        else:
            print("not a valid option")

enter choice as per requirment
1.Diplay Books
2.Lend a books
3.Add  a Books
4.Return a books
1
following Books are available: {self.user}
physics
chemitry
boilogy
english
urdu
enter choice as per requirment
1.Diplay Books
2.Lend a books
3.Add  a Books
4.Return a books
2
enter name of the book you want to lend:physics
enter you name"haqqani"
lender book database has been updated,u can take book
enter choice as per requirment
1.Diplay Books
2.Lend a books
3.Add  a Books
4.Return a books
2
enter name of the book you want to lend:physics
enter you name"haris"
some one has been taken his book
enter choice as per requirment
1.Diplay Books
2.Lend a books
3.Add  a Books
4.Return a books